#main-layout {
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-grey);
}

.content {
  background-color: var(--bg-grey);
  overflow-y: auto;
  padding: 2rem !important;
  height: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .content {
    padding: 1rem !important;
  }
}
